<!DOCTYPE html>
<html>
<<<<<<< HEAD
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    </head>
    <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
=======
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='icon' href='/favicon.ico'/>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
>>>>>>> 8217c5a9f07bf5bbc3e49080bbc909ecb9658f4f


    Response here: <p id="lblResponse">fill me in</p>

    <script type="text/javascript">
        $(document).ready(function() {
            debugger;
            $.ajax({
                url: "/",
                data: "yooyoyo"
            }).success(function (dataResponse, textStatus) {
                console.log("WOHO");
                console.log(dataResponse);
                console.log(textStatus);
                // here you have a  complete user object that you can use
            }).fail(function(response) {
                console.log("error: " + response.statusText);
            });
        });
    </script>

    </body>
</html>
